@import 'variables.scss';
page {
  height: 100%;
  background-color: #ffffff; // rgba($color: #f0f2f5, $alpha: 0.5)
}

.container {
  @extend .flex-col-center;
  font: normal normal normal $text-md PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei;
  color: $black;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  line-height: inherit;
  &::after {
    border: 0;
  }
}

view,
text,
button,
swiper,
scroll-view,
movable-view,
cover-view,
icon,
rich-text,
progress,
checkbox,
form,
input,
label,
picker,
picker-view,
radio,
slider,
switch,
textarea,
navigator,
audio,
image,
video,
camera,
live-player,
live-pusher,
map,
canvas,
open-data,
web-view {
  box-sizing: border-box;
}

// 字体配置列表
$fontSizeList: (text-xl $text-xl Regular 400 4.32), (text-xl-m $text-xl Medium 500 4.32),
  (text-xl-s $text-xl Semibold 600 4.32), (text-lg $text-lg Regular 400 0), (text-lg-m $text-lg Medium 500 0),
  (text-lg-s $text-lg Semibold 600 0), (text-md $text-md Regular 400 0), (text-md-m $text-md Medium 500 0),
  (text-md-s $text-md Semibold 600 0), (text-sm $text-sm Regular 400 0), (text-xs $text-xs Regular 400 0),
  (text-xxs $text-xxs Regular 400 0);
// 中文字体类
@each $className, $size, $family, $fw, $ls in $fontSizeList {
  .#{$className} {
    font-family: PingFangSC-#{$family};
    font-size: $size;
    font-weight: $fw;
    letter-spacing: #{$ls}rpx;
  }
}

// 英文字体类
@each $className, $size, $family, $fw, $ls in $fontSizeList {
  .#{$className}-en {
    font-family: SFUIText-#{$family};
    font-size: $size;
    font-weight: $fw;
    letter-spacing: #{$ls}rpx;
  }
}

// button
.button-white {
  @extend .text-md;
  background: #ffffff;
  border-radius: 12rpx;
  line-height: 80rpx;
  text-align: center;
  color: $base-blue;
}
.button-white-with-border {
  @extend .button-white;
  border: 2rpx solid $base-blue;
}
.button-blue {
  @extend .text-md;
  background: $base-blue;
  border-radius: 12rpx;
  line-height: 80rpx;
  text-align: center;
  color: #ffffff;
}

.button-grey {
  @extend .text-md;
  background: $btn-grey;
  border-radius: 12rpx;
  line-height: 80rpx;
  text-align: center;
  color: #ffffff;
}

.button-invalid {
  @extend .text-md;
  color: #9ba3ab;
  border-radius: 12rpx;
  line-height: 80rpx;
  text-align: center;
  border: 2rpx solid $border-grey;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

// 行布局 垂直方向居中
.flex-row-center {
  @extend .flex-row;
  align-items: center;
}

// 行布局 垂直方向居中,水平方向各元素均分剩余空间(两端有空间)
.flex-row-center-around {
  @extend .flex-row-center;
  justify-content: space-around;
}

// 行布局 垂直方向居中,水平方向各元素均分剩余空间(两端无空间)
.flex-row-center-between {
  @extend .flex-row-center;
  justify-content: space-between;
}

.flex-row-center-center {
  @extend .flex-row-center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

// 列布局 水平方向居中
.flex-col-center {
  @extend .flex-col;
  align-items: center;
}

// 列布局 水平方向居中，垂直方向各元素均分剩余空间(两端有空间)
.flex-col-center-around {
  @extend .flex-col-center;
  justify-content: space-around;
}

// 列布局 水平方向居中，垂直方向各元素均分剩余空间(两端无空间)
.flex-col-center-between {
  @extend .flex-col-center;
  justify-content: space-between;
}

// placeholder样式
.placeholder {
  color: #9ba3ab;
}

// 超过长度省略号
.length-restrict {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* !This CSS is generated by UniCareer Tech. Version at: #{$version}. */
