// color
$base-blue: #108ee9;
$btn-grey: #e5e5ea;
$border-grey: #f0f2f5;
$black: #001429;

// font
$text-xl: 36rpx;
$text-lg: 32rpx;
$text-md: 28rpx;
$text-sm: 26rpx;
$text-xs: 24rpx;
$text-xxs: 22rpx;
